name: Docker Image CI
on:
  repository_dispatch:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
         #docker build . --file Dockerfile 
         image="kylemanna/openvpn"
         docker build -t "$image" .
         docker inspect "$image"
         docker run --rm "$image" openvpn --version || true # why does it return 1?
         docker run --rm "$image" openssl version
         official-images/test/run.sh "$image"
         test/run.sh "$image"
